.align-left {
    text-align: left;
}
.space-under {
    margin-bottom: 25px;
}
.planner-set-post {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px;
}
.text-box-button {
    width: 50%;
    line-height: 1.5;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: none;
}
.text-box-button:focus {
    outline: none;
}
.text-box-button p {
    padding: 0px 10px;
}
.planner-open {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.close-icon {
    width: 25px;
    height: 25px;
    padding: 4px;
    background-color: #03045e;;
    border-radius: 50%;
    position: absolute;
    right: 10px;
}
.planner-inner {
    padding: 10px;
}
.planner-text-box {
    background-color: 	#DCDCDC;
    width: 50%;
    line-height: 1.5;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
}
.planner-text-box:focus {
    outline: none;
}
.date-select-container {
    flex-direction: row;
    display: flex;
    flex-basis: auto;
    margin-left: auto;
    padding-right: 25px;
}
.date-select-container ul{
    flex-direction: row;
    display: flex;
    flex-basis: auto;
    margin: 0 auto;
    padding-right: 25px;
}
.date-select-container ul li{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 1px #000;
    width: 60px;
    text-align: center
}
.MuiAppBar-root {
    max-width: 500px;

}
/*my plans*/
.my-plans-container {
    border-radius: 5px;
    width: 100%;
}
.my-plans-main {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    padding: 10px;
}
.my-plans-main h3{ 
    
}
.my-plans-main img{ 
    margin-left: auto;
}
.my-plans-content p {
    text-align: left;
    margin-top: 0px;
    padding: 10px;
}
.plans-reminder {
    margin-left: auto; 
    text-align: right;
}
.my-plans-toggle {
    text-align: right;
}
.detailsIcon {
    float: left;
    margin: 5px 10px 20px 0; 
    padding: 4px 5px 6px;
    background-color: #33556e;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.add {
    cursor: pointer;
    background-color: #33556e;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    align-items: right;
}
.closed {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 5px -5px;
    padding: 0 5px 0;
}
/*planner date*/
.plans-tab-container {
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    max-width: 500px;
    display: flex
}
.plans-tab-container ul {
    flex-direction: row;
    display: flex;
    flex-basis: auto;
    width: 100%;
    padding-right: 25px;
}
.plans-tab-container li {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0 auto;
    cursor: pointer;
}
.tabs-container {
    margin: 20px auto;
}
.reminder-icon {
    height: 30px;
}
.reminder-select {
    width: fit-content;
    padding-top: 10px;
    display: flex;
    margin: auto;
}
.reminder-select p {
    flex: 1 0 auto;
    width: fit-content;
    line-height: 1.5;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0;
    color: grey;
}
.notes {
    width: 100%;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.notes-container {
    border-radius: 5px;
    width: 100%;
}
.notes-main {
    display: flex;
    align-items: center;
    padding: 10px;
}
.notes-main img{ 
    margin-left: auto;
}
.notes-content p {
    text-align: left;
    margin-top: 0;
    padding: 0 10px 10px;
}
.notes-tools {
    margin-left: auto; 
    text-align: right;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px 10px;
}
.white {
    color: white;
}
.black {
    color: black;
}
/*color select*/
.color-icon {
    height: 30px;
}
.color-select {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-right: 10px;
}
.color-container {
    display: flex;
    border: 2px lightGrey solid;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
}
.selected {
    height: 25px;
    width: 25px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}
.color-select-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/*reminder*/
.reminder-status {
    color: grey;
    font-size: 12px;
    font-stretch: semi-condensed;
}
/*Pin icon*/
.pin-icon {
    cursor: pointer;
    background-color: #03045e;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    padding: 5px;
}